@use 'sass:color';
@use 'styles' as *;

.inventories__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inventories__header-actions button {
    @include button-secondary-outline;
}

.inventories__table {
    width: 100%;
    border-collapse: collapse;
}

.inventories__table td, th {
    padding-top: var(--size-medium);
    padding-bottom: var(--size-medium);
}


.inventories__table-row {
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 100%;
}

.inventories__table-row:hover {
    background-color: color.adjust($color-white, $lightness: -10%);
}

.inventories__table-row--message {
    text-align: center;
}