
<form class="edit-user-form" ngNativeValidate>
    <h2>Edit user profile</h2>
    <div class="edit-user-form__input">
        <label>Email</label>
        <input />
    </div>
    <div class="edit-user-form__input">
        <label>Username</label>
        <input />
    </div>
    <div class="edit-user-form__input">
        <label>Password</label>
        <input />
    </div>
    <div class="edit-user-form__input">
        <label>Password confirmation</label>
        <input />
    </div>
    <span class="edit-user-form__status"></span>
    <button class="edit-user-form__save" type="submit">Save</button>
</form>