<button class="user-badge__button" type="button" (click)="toggleMenu()" #button>
    <span class="material-symbols-outlined">account_circle</span>
</button>

<app-popover
    class="user-badge__popover"
    [(isOpen)]="isMenuOpen"
    [anchorElement]="button"
    [offset]="25"
    [hasArrow]="true"
>
    <div class="user-badge__popover-item__title">
        <span>{{getUsername()}}</span>
    </div>
    <button 
        type="button"
        (click)="logout()"
        class="user-badge__popover-item"
    >
        <span class="material-symbols-outlined">exit_to_app</span>
        Logout
    </button>
</app-popover>

