@use 'sass:color';
@use 'variables' as *;
@use 'components' as *;
@use 'styles' as *;

:host {
    position: relative;
}

.user-badge__button {
    @include button-icon;

    &:focus{
        background-color: color.adjust($color-background, $lightness: -10%);
    }
}

.user-badge__popover {
    padding: var(--size-small) 0; 
}

.user-badge__popover-item {
    min-width: calc(10 * var(--size-xxlarge));
    padding: var(--size-small);
    font-size: var(--size-small);
    @include unstyled-link;
}

.user-badge__popover-item__title {
    font-weight: bold;
    text-align: center;
    padding: var(--size-medium);
}

.user-badge__popover-item .material-symbols-outlined {
    font-size: var(--size-xlarge);
}