services:
  db:
    image: postgres:17
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      - POSTGRES_DB=stashless
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h db" ]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
        - "15432:5432"
    volumes:
      - /var/stashless/db:/var/lib/postgresql/data

  auth:
    env_file:
      - ./.env
    build:
      dockerfile: conf/DockerfileAuthorizationServer
      context: .
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
        restart: true
    healthcheck:
      interval: 30s
      start_period: 60s
      retries: 3
      test:
        [
          "CMD-SHELL","curl -f http://localhost:8090/auth/actuator/health",
        ]
      timeout: 30s

  api:
    env_file:
      - ./.env
    build:
      dockerfile: conf/DockerfileApi
      context: .
    restart: unless-stopped
    depends_on:
      auth:
        condition: service_healthy
        restart: true
      db:
        condition: service_healthy
        restart: true
    healthcheck:
      interval: 30s
      start_period: 90s
      retries: 3
      test:
        [
          "CMD-SHELL",  "curl -f http://localhost:8080/api/actuator/health",
        ]
      timeout: 30s

  web:
    build:
      dockerfile: conf/DockerfileWeb
      context: .
    restart: unless-stopped
    depends_on:
      auth:
        condition: service_healthy
        restart: true
      api:
        condition: service_healthy
        restart: true
    healthcheck:
      interval: 30s
      start_period: 90s
      retries: 3
      test:
        [
          "CMD-SHELL",  "curl -f http://localhost:4000",
        ]
      timeout: 30s

  proxy:
    image: caddy:2.10.0
    restart: unless-stopped
    depends_on:
      web:
        condition: service_healthy
        restart: true
    cap_add:
      - NET_ADMIN
    ports:
      - "8888:80"
    volumes:
      - ./conf:/etc/caddy
      - /var/stashless/caddy:/data