
<input 
    class="values__input"
    type="text"
    placeholder="{{name().toLowerCase()}} values"
    (input)="onInput($event)"
    (change)="onInput($event)"
    (keyup.enter)="addValue()"
    #input
/>
<button type="button" (click)="addValue()" class="values__add">
    <span class="material-symbols-outlined">add</span>
</button>
@if(values().length > 0) {
    <ul class="values__list">
        @for ( value of values(); track value ) {
            <li class="values__item">
                <span>{{value}}</span>
                <button type="button" (click)="removeValue(value)">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </li>
        }
    </ul>
}