server:
  port: 8090
spring:
  security:
    user:
      name: user1
      password: password
    oauth2:
      authorizationserver:
        client:
          stashless:
            registration:
              client-id: "stashless"
              client-secret: "${OIDC_CLIENT_SECRET:{bcrypt}$2a$10$NxzZ6oWTBXdWlRer6tpWjeawuX.Ftu198C3AXgWxV9qBxGiVc1e7O}"
              client-authentication-methods:
                - "client_secret_basic"
                - "client_secret_post"
              authorization-grant-types:
                - "client_credentials"
              scopes:
                - "openid"
                - "profile"
            require-authorization-consent: true
            require-proof-key: true