server:
  servlet:
    context-path: /api
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://auth:8090/auth
          jwk-set-uri: http://auth:8090/auth/oauth2/jwks