server:
  servlet:
    context-path: /api
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${FRONTEND_URL:http://localhost:4000}/auth
          jwk-set-uri: ${FRONTEND_URL:http://localhost:4000}/auth/oauth2/jwks