<header class="header">
    <nav aria-label="login-information">
        <app-search />
        <app-user-badge />
    </nav>
</header>
<aside class="nav">
    <nav aria-label="main-navigation">
        <ul>
            <li class="nav__item"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <span class="material-symbols-outlined">home</span>
            </a></li>
            <li class="nav__item"><a routerLink="/inventories" routerLinkActive="active">
                <span class="material-symbols-outlined">source_environment</span>
            </a></li>
            <li class="nav__item"><a routerLink="/products" routerLinkActive="active">
                <span class="material-symbols-outlined">pallet</span>
            </a></li>
        </ul>
    </nav>
</aside>
<main class="content">
    <router-outlet></router-outlet>
</main>