@use 'sass:color';
@use 'components' as *;

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inventory-form {
    display: flex;
    flex-direction: column;
    gap: var(--size-medium);
    width: calc(35 * var(--size-medium));

    @media (max-width: 768px) {
        width: calc(100% - 2 * var(--size-medium));
    }
}

.inventory-form__header {
    display: flex;
    gap: var(--size-medium);
    align-items: center;
}

.inventory-form__header * {
    font-weight: bold;
    font-size: var(--size-xlarge);
}

.inventory-form__header-back {
    display: flex;
    align-items: center;
}

.inventory-form__fields {
    @include card;
}

.inventory-form__input {
    @include input-with-label;
}

.inventory-form__items {
    @include card;
    display: flex;
    flex-direction: column;
}

.inventory-form__items-buttons {
    display: flex;
    justify-content: center;
    gap: var(--size-xlarge);
}

.inventory-form__add-item {
    align-self: center;
    display: flex;
    align-items: center;
    gap: var(--size-xxsmall);
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: var(--color-secondary);
    padding: var(--size-small) 0;
    cursor: pointer;

    &:hover {
        color: var(--color-secondary-dark);
    }
}

.inventory-form__remove-item {
    align-self: center;
    display: flex;
    align-items: center;
    gap: var(--size-xxsmall);
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: var(--color-error);
    padding: var(--size-small) 0;
    cursor: pointer;

    &:hover {
        color: var(--color-error-dark);
    }
}

.inventory-form__status {
    color: var(--color-error-dark);
    font-weight: bold;
    font-size: var(--size-small);
}

.inventory-form__actions{
    align-self: end;
    display: flex;
    gap: var(--size-medium);
}

.inventory-form__delete {
    @include button-danger;
}

.inventory-form__submit {
    @include button-secondary;
}