<div class="products__header">
    <div class="products__header-description">
        <h1>Products</h1>
        <h2>Create and manage products</h2>
    </div>
    <a routerLink="/products/create" >New Product</a>
</div>
<table class="products__table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Brand</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>
    </thead>
    <tbody>
        @if(table === undefined || products === undefined) {
            <tr class="products__table-row--merged">
                <td colspan="5">Loading products...</td>
            </tr>
        } @else if(table.getRowModel().rows.length === 0) {
            <tr class="products__table-row--merged">
                <td colspan="5">No products found</td>
            </tr>
        } @else {
            @for (row of table.getRowModel().rows; track row.id) {
                <tr class="products__table-row" routerLink="/products/{{ row.original.id }}" >
                        @for (cell of row.getVisibleCells(); track cell.id) {
                            <td>
                                 
                                    <ng-container
                                        *flexRender="
                                            cell.column.columnDef.cell;
                                            props: cell.getContext();
                                            let cell
                                            "
                                    >
                                        <div [innerHTML]="cell"></div>
                                    </ng-container>
                                 
                            </td>
                        }
                </tr>
            }
        }
    </tbody>
</table>