
<form class="inventory-form" [formGroup]="inventoryForm" (submit)="create()" ngNativeValidate>
    <div class="inventory-form__header">
        <a class="inventory-form__header-back" routerLink="/inventories">
            <span class="material-symbols-outlined">arrow_back</span>
        </a>
        <h1>New inventory</h1>
    </div>  
    <div class="inventory-form__fields">
        <div class="inventory-form__input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" [formControl]="inventoryForm.controls.name" required>
        </div>
        <div class="inventory-form__input">
            <label for="description">Description</label>
            <textarea id="description" name="description" [formControl]="inventoryForm.controls.description"></textarea>
        </div>
    </div>
    <div class="inventory-form__items">
        <h2>Items</h2>
        @for(item of inventoryItems(); track item.toString()) {
            <app-item-form />
        }
        <div
            class="inventory-form__items-buttons"
        >
            <button class="inventory-form__add-item" type="button" (click)="addItem()">
                <span class="material-symbols-outlined">add</span>
                <span>Add item</span>
            </button>
            <button class="inventory-form__remove-item" type="button" (click)="removeItem()">
                <span class="material-symbols-outlined">delete</span>
                <span>Remove item</span>
            </button>
        </div>
    </div>
    <button class="inventory-form__submit" type="submit">Create</button>
</form>