<div class="content">
    <div class="signup-form">
        <h1>Create an InventoryPro account</h1>
        
        <form [formGroup]="signupForm" (submit)="signup()" ngNativeValidate>
            <div class="signup-form__input">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" [formControl]="signupForm.controls.email" required>
            </div>
            <div class="signup-form__input">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" [formControl]="signupForm.controls.username" required>
            </div>
            <div class="signup-form__input">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" [formControl]="signupForm.controls.password" required>
            </div>
            <div class="signup-form__input">
                <label for="matchingPassword">Password Confirmation</label>
                <input type="password" id="matchingPassword" name="matchingPassword" [formControl]="signupForm.controls.matchingPassword" required>
            </div>
            @if (statusMessage) {
                <span class="signup-form__status">{{statusMessage}}</span>
            }
            <button class="signup-form__submit" type="submit">Signup</button>
        </form>
    </div>
</div>