@use 'components' as *;

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-form {
    display: flex;
    flex-direction: column;
    gap: var(--size-medium);
    width: calc(35 * var(--size-medium));

    @media (max-width: 768px) {
        width: calc(100% - 2 * var(--size-medium));
    }
}

.product-form__header {
    display: flex;
    gap: var(--size-medium);
    align-items: center;
}

.product-form__header * {
    font-weight: bold;
    font-size: var(--size-xlarge);
}

.product-form__header-back {
    display: flex;
    align-items: center;
}

.product-form__fields, .options-form__fields {
    @include card;
}

.product-form__input, .options-form__input {
    @include input-with-label;
}


.options-form__input div {
    display: flex;
    gap: var(--size-medium);
    align-items: center;

    & input {
        width: 100%;
    }

    & button {
        @include button-secondary;
        & * {
            font-size: var(--size-medium);
            font-weight: 700;
        }
    }
}

.options-form__list {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: var(--size-medium);
    column-gap: var(--size-medium);
    margin: var(--size-large) 0;
}

.options-form__item-title {
    padding-top: var(--size-xxsmall);
}


.product-form__status {
    color: var(--color-error-dark);
    font-weight: bold;
    font-size: var(--size-small);
}

.product-form__submit {
    @include button-secondary;
    align-self: end;
}