<div class="items-form__select">
    <label for="product">Product</label>
    <app-select
        name="product"
        [objects]="products.value()"
        (select)="selectProduct($event)"
        valueAttribute="id"
        labelAttribute="name"
        [required]="true"
    ></app-select>
</div>
@for(option of options(); track option.name) {
    <div class="items-form__select">
        <label [for]="option.name">{{option.name}}</label>
        <app-select
            [name]="option.name"
            [objects]="option.values"
            valueAttribute="id"
            labelAttribute="name"
            [required]="true"
        ></app-select>
    </div>
}
@if (statusMessage) {
    <span class="items-form__status">{{statusMessage}}</span>
}