@use 'components' as *;

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 calc(4 * var(--size-medium));
    padding-bottom: var(--size-medium);
}

.items-form__input {
    @include input-with-label;
    width: 100%;
}

.items-form__select {
    @include input-with-label;
    width: 100%;

    .items-form__select-legend {
        padding-top: var(--size-xsmall);
        font-size: var(--size-small);
    }
}

.items-form__products-select {
    display: flex;
    gap: var(--size-small);
    app-select {
        flex-grow: 1;
    }

    button {
        @include button-icon;
    }
}

.items-form__status {
    color: var(--color-error-dark);
    font-weight: bold;
    font-size: var(--size-small);
}